// 这里是代码转化工具库

// 播放量转化 3,1222 => 3.1万 1,2512,1212 => 1.2亿
function conversionPlayCount(playCount) {
  var str = String(playCount)
  if(str.length >= 5){
    const newStr = str.slice(0, str.length - 3)
    const arr = newStr.split('')
    arr.splice(newStr.length - 1, 0, '.')
    str = arr.join('') + '万'
    console.log(str)
  } else if(str.length >= 9){
    const newStr = str.slice(0, str.length - 3)
    const arr = newStr.split('')
    arr.splice(newStr.length - 1, 0, '.')
    str = arr.join('') + '亿'
  }
  return str
}

module.exports = {
  conversionPlayCount: conversionPlayCount
}